<p id="notice"><%= notice %></p>

<h1>PastillAlert</h1>

<table>
  <thead>
    <tr>
      <th>Medicine</th>
      <th>Email</th>
      <th>Cadence minutes</th>
      <th>Start</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.medicine %></td>
        <td><%= notification.email %></td>
        <td><%= notification.cadence_minutes %></td>
        <td><%= notification.start %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
